section {
    display: flex;
    align-items: center;
    width: 100%;
   
    padding: 20px;
    background-color: #f3f6f7;
  .Info {
    display: flex;
    flex-direction: column;
   
    margin-top: 3%;
    width: 30%;
    padding: 15px;
    margin-left: 5%;
    
    h1 {
     
      font-family: "Pangolin", sans-serif;
      font-weight: 500;
      font-size: 2rem;
    }
    p {
      margin-top: 5%;
      font-size: 1.2rem;
    }
    button {
      margin-top: 5%;
      width: 30%;
      border: none;
      color:white;
      background-color: #124c5f;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 10px;
      padding: 17px;
    }
  }
}
