$colorButton: #124c5f;
@mixin btn-style {
  &:hover {
    background-color: #0e3846;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }
}
header {
  display: flex;
  width: 100%;
  background-color: #ffff;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
    padding: 20px;
  }
}
.Logo {
  display: flex;
  gap: 15px;
  margin-top: 5%;
  font-size: 2rem;
  color: $colorButton;
  img {
    width: 35px;
  }
}
section {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 3%;
  margin-left: 10%;

  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 991px) {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 0%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
  h1 {
    margin-top: 15%;
    font-family: "Pangolin", sans-serif;
    font-size: 3rem;
    font-weight: 500;

    @media (max-width: 1440px) {
      font-size: 2.5rem;
    }
    @media (max-width: 991px) {
      text-align: center;

      width: 100%;
    }
    @media (max-width: 500px) {
      font-size: 1.7rem;
    }
  }

  p {
    width: 50%;
    margin-top: 5%;
    font-size: 1.2rem;

    @media (max-width: 1440px) {
      font-size: 1.1rem;
    }
    @media (max-width: 500px) {
      text-align: center;
      width: 100%;
    }
  }
  button {
    width: 40%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1.2rem;
    font-weight: 550;
    background-color: $colorButton;
    color: #ffff;
    @include btn-style;

    @media (max-width: 1200px) {
      width: 50%;
      padding: 15px;
    }
    @media (max-width: 500px) {
      width: 60%;
    }
  }
}
figure {
  width: 50%;
  margin-left: 0%;

  .Dog-banner {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .Rotate-bg {
    position: absolute;
    width: 50%;
    height: 160%;
    z-index: 2;
    top: -35%;
    left: 30%;
    border-radius: 300px 300px 0 0;
    transform: rotate(-105deg);
    background-color: #fff1a6;

    @media (max-width: 1440px) {
      width: 50%;
      height: 165%;
      top: -30%;
      left: 40%;
    }
    @media (max-width: 1300px) {
      height: 165%;
      top: -30%;
      left: 50%;
    }
    @media (max-width: 1200px) {
      height: 155%;
      top: -30%;
      left: 45%;
    }
    @media (max-width: 1100px) {
      height: 160%;
      top: -35%;
      left: 55%;
    }
  }
  .Dog-img {
    position: relative;
    width: 750px;
    z-index: 2;
    left: 10%;
    bottom: 60px;

    @media (max-width: 1440px) {
      .Rotate-bg {
        width: 50%;
        height: 150%;
        background-color: #fff1a6;
      }

      .Dog-img {
        width: 700px;
      }
    }
    @media (max-width: 1200px) {
      width: 600px;
      top: 1%;
      left: 5%;
    }
    @media (max-width: 991px) {
      display: none;
    }
  }
}
